<TMPL_INCLUDE NAME="header.tmpl">

	<h2>News Archive</h2>
	<ul>
	<TMPL_LOOP NAME="items">
		<li><a href='<TMPL_VAR NAME="url">'><TMPL_VAR NAME="title"></a> - <TMPL_VAR NAME="published.num"></li>
	</TMPL_LOOP>
	</ul>

<TMPL_INCLUDE NAME="footer.tmpl">

