<?xml version="1.0" encoding="utf-8"?>
 
<feed xmlns="http://www.w3.org/2005/Atom">
 
	<title>Sample Miril Site</title>
	<subtitle>... your slogan or tag line here</subtitle>
	<link href="http://www.example.com/feed.xml" rel="self" />
	<link href="http://www.example.com/feed.xml" />
	<id>urn:uuid:60a76c80-d399-11d9-b91C-0003939e0af6</id>
	<updated>2003-12-13T18:30:02Z</updated>
	<author>
		<name>Your Name</name>
	</author>
 	
	<TMPL_LOOP NAME="items">
	<entry>
		<title><TMPL_VAR NAME="title"></title>
		<link href='<TMPL_VAR NAME="full_url">' />
		<id>urn:uuid:1225c695-cfb8-4ebb-aaaa-80da344efa6a</id>
		<updated><TMPL_VAR NAME="published.iso"></updated>
		<summary type="xhtml"><div xmlns="http://www.w3.org/1999/xhtml"><TMPL_VAR NAME="teaser"></div></summary>
		<content type="xhtml"><div xmlns="http://www.w3.org/1999/xhtml"><TMPL_VAR NAME="text"></div></content>
	</entry>
 	</TMPL_LOOP>

</feed>


