<xml>

	<!-- PATHS - CHANGE TO MATCH YOUR SETUP -->
	<data_path>C:\Dev\miril_example\data</data_path>
	<tmpl_path>C:\Dev\miril_example\tmpl</tmpl_path>
	<cache_path>C:\Dev\miril_example\cache</cache_path>
	<cfg_path>C:\Dev\miril_example\cfg</cfg_path>

	<output_path>../htdocs/miril</output_path>
	<files_path>../htdocs/miril/files</files_path>

	<!-- URL CONSTRUCTION -->
	<http_dir>/miril</http_dir>
	<files_http_dir>/miril/files</files_http_dir>
	<domain>http://localhost</domain>

	<!-- MAKE SURE YOU CHANGE THIS! -->
	<secret>Some secret line</secret>

	<types>
 		<type>
			<name>News</name>
			<id>news</id>
			<location></location>
			<template>page.tmpl</template>
		</type>
		<type>
			<name>Page</name>
			<id>page</id>
			<location></location>
			<template>page.tmpl</template>
		</type>
	</types>

	<authors>
		<author>J. R. R. Tolkien</author>
		<author>J. K. Rowling</author>
	</authors>

	<topics>
		<topic>
			<id>flowers</id>
			<name>Flowers</name>
		</topic>
		<topic>
			<id>animals</id>
			<name>Fuzzy Animals</name>
		</topic>
		<topic>
			<id>bananas</id>
			<name>Bananas</name>
		</topic>
	</topics>

	<lists>

		<!-- THE NEWS PAGE -->
		<list>
			<id>news</id>
			<template>news.tmpl</template>
			<location>news.html</location>
			<match>
				<type>news</type>
				<last>6</last>
			</match>
		</list>

		<!-- THE NEWS ARCHIVE -->
		<list>
			<id>news_archive</id>
			<template>archive.tmpl</template>
			<location>archive.html</location>
			<match>
				<type>news</type>
			</match>
		</list>

		<!-- THE ATOM FEED WITH RECENT NEWS -->
		<list>
			<id>feed</id>
			<template>atom.tmpl</template>
			<location>atom.xml</location>
			<match>
				<type>news</type>
				<last>12</last>
			</match>
		</list>
	</lists>

</xml>
